body {
  background-color: #f1f1f1;
}
#productlistMenu {
  padding: 10px 0;
}
#productlistMenu #nav {
  padding: 0 10px;
  width: 100%;
  height: 35px;
  background-color: #f1f1f1;
}
#productlistMenu #nav a {
  color: #000;
  font-size: 14px;
  line-height: 35px;
}
#productlistMenu #nav button {
  float: right;
  width: 65px;
  height: 35px;
  -webkit-border-radius: 20%;
  -moz-border-radius: 15%;
  border-radius: 15%;
  border: none;
}
#productlistMenu #productlist {
  padding: 10px 0px;
}
#productlistMenu #productlist .media {
  border-bottom: 1px solid #f1f1f1;
  background-color: #fff;
  padding: 10px;
  padding-top: 0px;
}
#productlistMenu #productlist .media .media-left img {
  width: 100px;
}
#productlistMenu #productlist .media .media-body {
  color: #333;
  line-height: 28px;
}
#productlistMenu #productlist .media .media-body h4 {
  font-size: 16px;
  line-height: 28px;
}
#productlistMenu #productlist .media .media-body .price {
  color: red;
}
#productlistMenu #productlist .media .media-body .price i {
  font-size: 9px;
}
#productlistMenu #productlist .media .media-body .price span {
  font-size: 16px;
}
#productlistMenu #productlist .media .media-body .other {
  font-size: 12px;
  line-height: 15px;
  color: #a1a1a1;
}
#productlistMenu #productlist .media .media-body .other .other-shop {
  float: left;
}
#productlistMenu #productlist .media .media-body .other .other-talk {
  float: right;
}
#productlistMenu #select {
  margin-top: 20px;
  display: flex;
}
#productlistMenu #select .split {
  flex: 3;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
#productlistMenu #select .split button {
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 70px;
}
#productlistMenu #select .split select {
  height: 30px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 70px;
}
