#productlist .productlist-title .breadcrumb li:before {
  content: "";
}
#productlist .productlist-title .breadcrumb li:after {
  content: ">";
  display: inline-block;
  margin-left: 2px;
  margin-top: 2px;
}
#productlist .productlist-content .media {
  padding: 8px 15px;
  border-bottom: 1px solid #e7e7e7;
}
#productlist .productlist-content .media .media-left img {
  width: 100px;
  height: 100px;
}
#productlist .productlist-content .media .media-body > h4 {
  color: #333333;
  line-height: 22px;
  min-height: 44px;
  word-break: break-all;
}
#productlist .productlist-content .media .media-body .info p:first-child {
  color: red;
  font-size: 16px;
}
#productlist .productlist-content .media .media-body .info p:last-child {
  color: #a1a1a1;
  font-size: 12px;
}
#productlist .productlist-content .media .media-body .info p:last-child em {
  margin-right: 5px;
}
#productlist .productlist-page {
  margin-top: 10px;
  display: flex;
}
#productlist .productlist-page > div {
  flex: 1;
  text-align: center;
}
#productlist .productlist-page > div > a {
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  padding: 5px 10px;
  border: 1px solid #bababa;
  border-radius: 5px;
}
#productlist .productlist-page .dropdown > a {
  width: 158px;
}
#productlist .productlist-page .dropdown .dropdown-menu {
  margin: 0;
  text-align: center;
  padding: 10px;
}
#productlist .productlist-page .dropdown .dropdown-menu li {
  border-bottom: 1px solid #bababa;
}
#productlist .productlist-page .dropdown .dropdown-menu li a {
  display: block;
}
